@import url("font/font.css");

body {
  margin: 0;
  font-family: "FD";
  background-color: #111;
  color: #ededed;
}

.div-titulo {
  height: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-shadow: 0 0 10px #111;
}

h1 {
  margin-top: 100px;
  margin-bottom: 100px;
  font-size: 50px;
}

h2 {
  cursor: default;
}

.frase {
  font-style: italic;
}

.div-titulo span {
  font-size: 20px;
}

/* ------ DISCOS ------ */

.container-div-discos {
  width: 100%;
  display: flex;
  justify-content: center;
}

.div-discos {
  /* user-select: none; */
  margin-bottom: 500px;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.discos {
  margin-top: 50px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 50px;
  justify-items: center;
}

@media screen and (max-width: 1000px) {
  .discos {
    grid-template-columns: 1fr;
  }
}

.element-discos {
  padding: 20px;
  width: 100%;
  max-width: 500px;
  background-color: #333;
  border-radius: 20px;
  cursor: pointer;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  transition: all 0.5s ease;
}

.element-discos:hover {
  transform: scale(1.1);
  filter: brightness(120%);
}

.solitario {
  margin-bottom: 50px;
}

.img-container {
  margin-right: 30px;
  height: 100%;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-disco {
  width: 100%;
  height: max-content;
  border-radius: 5px;
}

.div-descripcion {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.div-descripcion span {
  margin-bottom: 10px;
}

.nombre {
  font-weight: 900;
}

.duracion, .año {
  font-weight: 100;
}
